@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #f7818b;
}

.grid-container {
	display: grid;
	grid-template-columns: 
		"header" "header" "header"
		"nav" "nav" "nav"
		"main" "main" "main";
}

@media (min-width: 600px) {
	.grid-container {
		display: grid;
		grid-template-columns: "header"
								"nav"
								"main";
	}
}

.header {
	background-color: #7d0711;
	width: 100%;
}

.header h1, img{
	display: inline-block;
	text-align: center;
}

h1 {
	transform: translateY(50px);
	margin-left: 40%;
	text-align: center;
	color: #f54c5a;
	font-family: 'Poetsen One';
	font-size: 40px;
}

.nav {
	background-color: #f54c5a;
}

.nav a {
	display: inline-block;
	margin-left: 45%;
	text-decoration: none;
	color: #7d0711;
	font-family: 'Poetsen One';
	transition: .3s ease;
}

.nav a:hover {
	font-size: 20px;
}

img {
	margin-left: 90%;
	width: 100px;
	height: 100px;
}

.main {
	width: 60%;
	margin: 30px;
	padding: 20px;
	border: 1px #7d0711 solid;
	border-radius: 35px;
	background-color: #7d0711;
	color: #f54c5a;
	font-weight: bold;
}

.formulario .btns {
	display: flex;
	margin-left: 40%;
}

.formulario .btns input {
	padding: 5px;
	border: 2px #7d0711 solid;
	background: rgb(125,7,17);
	background: linear-gradient(0deg, rgba(125,7,17,1) 0%, rgba(245,76,90,1) 46%, rgba(125,7,17,1) 100%);
	color: white;
}