@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #f7818b;
}

.grid-container {
	display: grid;
	grid-template-columns: 
		"header" "header" "header"
		"nav" "nav" "nav"
		"main" "main" "main";
}

@media (min-width: 600px) {
	.grid-container {
		display: grid;
		grid-template-columns: "header"
								"nav"
								"main";
	}
}

.header {
	background-color: #7d0711;
	width: 100%;
}

.header h1, img{
	display: inline-block;
	text-align: center;
}

h1 {
	transform: translateY(50px);
	margin-left: 40%;
	text-align: center;
	color: #f54c5a;
	font-family: 'Poetsen One';
	font-size: 40px;
}

.nav {
	background-color: #f54c5a;
}

.nav a {
	display: inline-block;
	margin-left: 20%;
	text-decoration: none;
	color: #7d0711;
	font-family: 'Poetsen One';
	transition: .3s ease;
}

.nav a:hover {
	font-size: 20px;
}

img {
	margin-left: 90%;
	width: 100px;
	height: 100px;
}

.main {
	margin: 30px;
}

.titulo {
	text-align: center;
	font-size: 20px;
	color: #7d0711;
	font-family: 'Poetsen One';
}

#aside, #botin-preferido {
	display: inline-block;
}

#aside {
	float: left;
	border: 1px #7d0711 solid;
	border-radius: 35px;
	background-color: #7d0711;
	padding: 20px;
}

#botin-preferido h5 {
	float: right;
	font-size: 20px;
	color: #7d0711;
	font-family: 'Poetsen One';
}

#img {
	border: 1px #7d0711 solid;
	border-radius: 35px;
	background-color: #7d0711;
	padding: 20px;
}

#imagen {
	transform: translateX(-270px);
	width: 300px;
	height: 300px;
}

#texto {
	font-size: 20px;
	color: #f54c5a;
	font-family: 'Poetsen One';
}

.ver {
	display: inline-block;
	padding: 20px;
	border: 1px #7d0711 solid;
	border-radius: 35px;
	background-color: #7d0711;
	color: #f54c5a;
	font-family: 'Poetsen One';
	transition: .3s ease;
}

.ver:hover {
	font-size: 20px;
}